@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

h2 {
    font-size: 50px;
}

/* shared style */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

li {
    list-style: none;
}

/* shared style */
header {
    background-color: #1A0B2E;
    padding: 24px;
}

.logo img {
    width: 100%;
    max-width: 219px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    margin-right: 32px;

}

button {
    background-image: linear-gradient(45deg, #F7E93F 6%, #FB09B4 51%, #9100F8 100%);
    border: none;
    padding: 12px 16px;
    border-radius: 999px;
    width: 135px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.5px;

}

nav button img {
    display: inline-block;
    width: 15px;
}

.hamburger-menu {
    display: none;
}


@media screen and (max-width:767px) {
    .logo img {
        max-width: 137px;
    }

    .menu {
        display: none;
    }

    header nav button {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
}