@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

h2 {
    font-size: 50px;
}

/* shared style */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

li {
    list-style: none;
}

/* shared style */
header {
    background-color: #1A0B2E;
    padding: 24px;
}

.logo img {
    width: 100%;
    max-width: 219px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    margin-right: 32px;

}

button {
    background-image: linear-gradient(45deg, #F7E93F 6%, #FB09B4 51%, #9100F8 100%);
    border: none;
    padding: 12px 16px;
    border-radius: 999px;
    width: 135px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.5px;

}

nav button img {
    display: inline-block;
    width: 15px;
}

.hamburger-menu {
    display: none;
}



/* Banner Section */

#banner {
    display: block;
    padding: 100px 8px;
    background-image: url('./assets/hero-bg.png');
    background-position: center center;
}

#banner .container {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

#banner .container .flex {
    width: min-content;
    margin: 0 auto;
    margin-bottom: 40px !important;
}

#banner h2 {
    color: #fff;
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 8px;

}

#banner p {
    color: #fff;
    margin-bottom: 24px;
    text-align: center;
}

.relative {
    position: relative;
}

.hero-circle {
    /* width: 100%; */
}

.microphone {
    position: absolute;
    /* width: 100%; */
}

.new {
    color: #000 !important;
    position: absolute;
    top: 12px;
    right: 23px;
    padding: 8px 16px;
    background-color: #00FF88;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    border-radius: 999px;
    box-shadow: 0px 0px 27px rgba(0, 255, 136, 0.5);

}

.btns {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.btns button {
    width: max-content;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
}

.subscribe-btn {
    background-color: #00000000;
    border: 1px solid #00FF88;
    color: #00FF88;
    border-radius: 999px;
    background-image: none;
}



/* About Us Seciton */

#about-us {
    color: #fff;
    background-color: #1A0B2E;
    padding: 50px 8px 120px;
}

#about-us .container>h2 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

#about-us .container>p {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    max-width: 810px;
    margin: 0 auto;
    color: #d1ced5;

}

#about-us .container hr {
    border: none;
    height: 1px;
    background-color: #ffffff21;
    margin: 80px 0px;
}

#about-us .container .testi {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-content: center;
    gap: 10px;

}

#about-us .container .testi .box {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-us .container .testi .box h2 {
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
    letter-spacing: 2px;
    margin-bottom: 16px;
}

#about-us .container .testi .box p {
    font-size: 16px;
    color: #d1ced5;
    text-transform: uppercase;
}


/* why-choose Section */

#why-choose {
    padding: 120px 20px;
    background-color: #230E3D;
}

#why-choose>.container>h2 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.item {
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item img {
    max-width: 55px;
    height: auto;
}

.item h2 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #fff;
}

.item p {
    color: #aa9fb8;
    font-size: 16px;
    line-height: 24px;
}

.item-1 {
    grid-row: span 2;

    img {
        width: 50px;
        height: 50px;
    }

}

.item-2 {
    grid-column: span 2;

    img {
        width: 40px;
        height: 50px;
    }
}

.item-3 {
    grid-column: span 2;
}

.item-4 {
    grid-column: span 2;
}

/* .item-5 {
    grid-column: span 2;
} */

/* Responsive  */



@media screen and (max-width:767px) {
    .logo img {
        max-width: 137px;
    }

    .menu {
        display: none;
    }

    header nav button {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    /* banner section */

    #banner {
        padding-top: 40px;
        padding-bottom: 40px;
        background-size: cover;
        background-repeat: no-repeat;

    }

    .hero-circle {
        max-width: 200px;
    }

    .microphone {
        max-width: 46px;
    }

    .new {
        font-size: 16px;
        top: 6px;
        right: -10px;
    }

    #banner .container .flex {
        margin-bottom: 24px !important;
    }

    /* About us Section */

    #about-us .container>h2 {
        font-size: 32px;
    }

    #about-us .container .testi {
        grid-template-columns: repeat(2, 1fr);
    }

    #about-us .container .testi .box h2 {
        font-size: 40px;
    }

    /* Why Choose Us */
    #why-choose {
        padding: 40px 20px;
    }

    #why-choose>.container>h2 {
        font-size: 32px;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .item {
        padding: 24px;
    }

    .item-1 {
        grid-column: span 2;

    }

    .item-5 {
        grid-column: span 2;
    }
}